.materialize-indigo {
  background-color: #3A53AF !important
}

#contents {
  display: none;
  margin-top: 90px;
}

#classbody {
  margin-top: 80px;
}

img {
  height: 200px;
}
.card{
  border-radius: 10px;
}

.modal{
  width: 50%;
}

