#page-logo{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin-left: 15px;
    margin-top: -2px;
}
#page-logo-icon{
    margin-right: 1px;
}
.materialize-indigo {
    background-color:#3A53AF !important
}

.tabs {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.tabDivs{
    margin-top: 100px;
}

#load{
    margin-top: 65px;
}

.nav-fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav-fixed {
    top: 0;
}

@media (min-width: 768px)
{
    .nav-fixed{
        border-radius: 0;
    }   
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .tabDivs{
        margin-top: 130px;
    }
    #load{
        margin-top: 105px;
    }
}

/*iPad*/
@media only screen and (max-width: 768px) {
    .tabDivs{
        margin-top: 130px;
    }
}

#nav-mobile{
    margin-top: -50px;
}